<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        {{> site-header }}

        <div class="main-container">
            <div class="main wrapper clearfix">

                {{> body }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div id="bg"></div>

        <div id="assets">
            <svg class="arrow" viewBox="0 0 150 148.49" >
                <path fill="#FCC52A" d="M89.152,73.82l20.52,19.34c4.481,4.246,10.141,4.48,13.915,0.235l4.95-5.424
                    c3.304-3.538,3.539-9.67-0.234-13.208L80.897,30.189c-3.773-3.537-9.2-3.537-13.208,0.472L20.756,75
                    c-3.773,3.537-3.538,9.434,0,12.972l5.425,5.896c4.01,4.482,8.725,3.773,13.445-0.707l20.987-19.575v67.451
                    c0,4.718-4.48,8.726-9.197,7.075C21.936,138.443,0,108.962,0,75.943C0,35.615,33.021,0,75.001,0C117.216,0,150,35.615,150,75.943
                    c0,32.783-20.991,61.557-51.652,72.169c-4.715,1.65-9.197-2.357-9.197-7.075V73.82H89.152z"/>
            </svg>
        </div>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="scripts/hello.js"></script>
        <!-- endbuild -->
</body>
</html>
